* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* ===== body =====*/
        body {
            background: #e9edf5;
        }

        /* ===== NAVBAR ===== */
        .navbar {
            background: #0f1222;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 80px;
        }

        .logo {
            font-weight: bold;
        }

        .navbar nav a {
            color: #cfcfe8;
            margin-left: 25px;
            text-decoration: none;
            font-size: 14px;
        }

        .navbar nav a: :hover {
            color: white
        }

        /* ===== HERO =====*/
        .hero {
            background: linear-gradient(135deg, #0f1222, #171a33);
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 80px;
        }

        /* TEXTE */
        .hero-texte {
            max-width: 5oopx;
        }

        .hero-texte h1 {
            font-size: 36px;
            margin: 10px;
        }

        .hero-texte h1 span {
            color: #6c6cff;
        }

        .hero-texte h3 {
            color: #a6a6ff;
            margin-bottom: 15px;
        }

        .hero-texte p {
            color: #cfcfe8;
            margin: 30px;
            line-height: 1.6;
        }

        /* button */
        .button {
            display: flex;
            gap: 15px;
        }

        .btn {
            padding: 12px 25px;
            border-radius: 40px;
            text-decoration: none;
            font-size: 14px;
        }

        .primary {
            background: #6c6cff;
            color: white;
        }

        .secondary {
            border: 1px solid solid #6c6cff;
            color: #6c6cff;
        }

        /* IMAGE */
        .hero-image img {
            width: 360px;
            border-radius: 15px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 3);
        }
        /* footer */
        .footer {
            background: linear-gradient(135deg, #0f1222, #171a33);
            color: white;
             background: #0f1222;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 80px;
        }
        footer ul li{
            list-style: none;
        }